.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #161d33;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 25px;
  background-color: #1c2545;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #141424;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 10px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: left;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#middle-column {
  display: flex;
  flex-direction: column;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#aggregate_data {
  align-items: center;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b2444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #1eaedb; */
  background: #33ffe6;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #1E31DC; */
  background: #1E31DC;
}

#plants-dropdown {
  background-color: #1c2545;
  color: white !important;
  /* margin-bottom: 6.6rem; */
}

.dash-tooltip .dash-table-tooltip {
  background-color: #0000; 
}

.Select-menu-outer {
    background-color: #1c2545;
    border: solid 1px gray;
}

.dcc_control {
  background-color: #1c2545;
}

.Select-control {
  border-left: solid 0px #33ffe6 !important;
  border-top: solid 0px #33ffe6 !important;
  border-right: solid 0px #33ffe6 !important;
  border-bottom: solid 1px #33ffe6 !important;
  color: white !important;
}

.Select {
  background-color: #1c2545;
}

.Select div {
  background-color: #1c2545;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.Select-value-label {
    color: #eff4ff !important;
}

.Select.is-focused > .Select-control {
  background-color: #1c2545;
}

.Select.is-focused:not(.is-open) > .Select-control {
  background-color: #1c2545;
}

.Select.is-focused > .Select-control {
  background: #1c2545 !important;
}

.Select.is-open > .Select-control {
  background: #1c2545 !important;
}

.Select-placeholder {
  color: white;
}

input {
  color: #eff4ff !important;
}

input[type="number"], textarea, select {
  background-color: #1c2545;
}

input[type="checkbox" i] {
  transform: scale(1.3);
  margin: 0px 5px 0px 10px;
}